node-options=--no-warnings --experimental-vm-modules

# Команда npx jest --bail это команда запуска тестов. npx запускает исполняемый файл jest (раннер тестов) с опцией bail (про неё есть в доке. Опция experimental-vm-modules необходима, чтобы запускать тесты с модулями ESM. Добавление файлика npmrc позвоялет не прописывать эту конструкцию (это переменная окружения) каждый раз. 

# Вообще все пихать в package.json не обязательно. Мы ведь используем Make для запуска команд, соответственно можем сделать команду make test и в неё добавить всё, что нужно.
# А директория coverage должна быть в игноре. Мы ведь добавляем в игнор всё, что генерируется в рантайме (при выполнении кода). В репозитории это не должно храниться (в нём хранится только исходный код)